* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-image: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );

  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hide {
  display: none;
}

.car,
.enemy {
  position: absolute;
  bottom: 100px;
  margin: auto;
  width: 50px;
  height: 100px;
  background-image: url("images/car-removebg-preview.png");
  background-size: contain;               
  background-repeat: no-repeat;           
  background-position: center;
  filter: drop-shadow(0 4px 6px rgba(0,0,0,0.5));
  transition: transform 0.1s ease-in-out;
  filter: brightness(0) invert(1);
}

.line {
  position: absolute;
  height: 100px;
  width: 8px;
  margin-left: 196px;
  background: #fff;
  border-radius: 4px;
}

.score {
  background-color: black;
  height: 10vh;
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-family: fantasy;
  padding-top: 2rem;
}

.gameArea {
  background: linear-gradient(to bottom, #2c2c2c, #1a1a1a); /* asphalt road */
  width: 400px;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: auto;
  border-left: 5px solid #666;
  border-right: 5px solid #666;
}

.start {
  position: absolute;
  background-color: limegreen;
  padding: 10px;
  border-radius: 5px;
  left: 48vw;
  top: 50vh;
  color: black;
  z-index: 1;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.start:hover {
  background-color: orangered;
  color: white;
  transform: scale(1.1);
}

.pauseScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(244, 244, 44, 0.8);
  color: black;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 2;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 500px) {
  .gameArea {
    width: 90%;
  }
  .startScreen {
    width: 90%;
    left: 5%;
  }
}